esphome:
  name: esphome
  friendly_name: SkullAudio
  min_version: 2025.5.0
  name_add_mac_suffix: false

esp32:
  board: esp32dev
  framework:
    type: arduino


# Enable logging
logger:

api:
  encryption:
    key: !secret api_key

ota:
  platform: esphome
  password: !secret ota_pwd

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

# -------------------------------------------------
# AUDIO OUTPUT (I²S)
# -------------------------------------------------
i2s_audio:
  - id: amp_audio_bus
    i2s_bclk_pin: GPIO26    # BCLK (I²S clock)
    i2s_lrclk_pin: GPIO27   # LRC (Word Select / LRCLK)

media_player:
  - platform: i2s_audio
    dac_type: external
    id: talking_skull_speaker
    name: "Talking Skull Speaker"
    i2s_audio_id: amp_audio_bus
    i2s_dout_pin: GPIO33    # DIN → amplifier input
    mode: mono
    on_play:
      - logger.log: "Audio playback started"
    on_idle:
      - logger.log: "Audio playback finished"

# ======================
# Switches
# ======================
switch:
  - platform: restart
    name: "SkullAudio Restart"